:root {
  --accent: #f2913d;
  --accent-dark: #f26835;
  --black: #0f1219;
  --gray: #0f1219;
  --gray-light: #e5e9f0;
  --gray-dark: #222939;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;

  --body-background: #fff;
  --body-color: var(--gray-dark);

  --nav-background: #f7f7f7;
  --nav-color: var(--gray-dark);

  --heading-color: var(--black);
  --content-color: var(--gray-dark);
  --secondary-content-color: var(--gray);
  --title-color: var(--black);

  --footer-background: var(--nav-background);
  --footer-color: var(--nav-color);
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/atkinson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Atkinson', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: var(--body-background);
  color: var(--body-color);
  font-size: 18px;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}
main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
  flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--heading-color);
  line-height: 1.2;
}
h1 {
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent-dark);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--gray-light);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.2em;
}
hr {
  border: none;
  border-top: 1px solid var(--gray-light);
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

@media (max-width: 720px) {
  .only-desktop {
    display: none !important;
  }
}

pre.astro-code {
  font-size: 14px;
}
