---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
  <div class="rights">
    &copy; {today.getFullYear()} Łukasz Lis. All rights reserved.
  </div>
  <SocialLinks />
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: var(--footer-background);
    color: var(--footer-color);
    text-align: center;
  }
  .rights {
    margin-bottom: 1em;
  }
</style>
