---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeIcon from "./ThemeIcon.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <div class="logo">
      <ThemeIcon />
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="only-desktop">
      <SocialLinks />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--nav-background);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--nav-color);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  @media (max-width: 480px) {
    nav {
      flex-direction: column;
    }
    h2 {
      padding: 1em 0;
    }
  }
</style>
