---
import { CONTACT_EMAIL } from '../consts';
import { Icon } from 'astro-icon/components';
---

<div class="social-links">
  <a href={`mailto:${CONTACT_EMAIL}`} target="_blank">
    <span class="sr-only">Write to Łukasz Lis</span>
    <Icon name="mdi:at" />
  </a>
  <a href="https://www.linkedin.com/in/ll-lukasz-lis/" target="_blank">
    <span class="sr-only">Connect with Łukasz Lis on LinkedIn</span>
    <Icon name="mdi:linkedin" />
  </a>
  <a href="https://github.com/liskeee" target="_blank">
    <span class="sr-only">Go to Liskeee GitHub repo</span>
    <Icon name="mdi:github" />
  </a>
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .social-links a {
    display: flex;
    color: var(--gray-dark);
  }
  .social-links a:hover {
    color: var(--accent-dark);
  }
  .social-links [data-icon] {
    font-size: 2rem;
  }
</style>
